aiofiles==23.1.0
aiohttp==3.8.4
asyncio==3.4.3
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor==3.0.0
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.103
python-dotenv==1.0.0
pyyaml
requests
speedtest-cli==2.1.3
spotipy
tgcrypto==1.2.5
numpy==1.24.2
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search
youtube-search-python
