API_ID=25244509
API_HASH=7c2e1c76ea6fb87e69bf5364d3156074
BOT_TOKEN=5662659781:AAG3V-7LJuIrkkL9pZZc9CVE9Z4_dY3q21E
LOG_GROUP_ID=-1001246079685
MONGO_DB_URI=mongodb+srv://userbot:userbot@cluster0.x6kstu2.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=DORA ROBOT
OWNER_ID=6654918132
STRING_SESSION=BQAtV5MPxosy8XIcx0P6xoPhUTVfIjdN7lb_NXIB0SyJ2KAyDzZ1zNe57mXdqkdvIqmvWzhmd5Dv3b_8klQyUywkuwc-yRQ6FNxo9TYM5MK8ebaCxV4ObkaYy5yT1_3ZxKkY4lxp9U8qzrBc1_iRujFSYy-UxV1OzxDx8zKnwCVEvZKwgiSnLkYKo_maXmdlHq3orkg5nYcpDKU6CXxk4wgezTFe2yz0rL-i91JOAGPzjMigkRi2GqwEDMr_c-HC4039yj-NvctZ-O7eBltTzZ1rSQwU4HA6Z6zmCLwrBM90YlwyrQD96kz6cmTyeXPFCa2mdZSRUDRXJ7_VYJIK1ImLAAAAAVUDg5gA
STRING_SESSION2=BQCp4CpkghyU33xIwpoY_FzRhHjd_WLTDybkRtva3RGKuY_RSd86iCDYSZV3o4hJz3eKeh8-ZoKKI60lSrin59-1hWsdwqkSWeOXAlSHaJ0_fKVpza2o98k9FJbwLStb5TYbT65clcV6ygKeYJF2QQNTk3kzQ2O2AHoCpjCm9wzrN1cPXagup9Cwni8Ja-Nj-EUkzCN0lNvxHjNPxSkgllzKAnH_K8bgRCXVGBRESFGmYx-AwCSuJu5ew84IKJsIJWlaOsdlScwZubCNp8lYT4J3veDdO_QZd4hFkmPcaFEztuQrZrFsT2Uv-eBL8dsT_lTy4xKS098uk6Zf56cOofqQAAAAAX4HWqsA
SPOTIFY_CLIENT_ID=5984fde29e024b308d8defa276e4a601
SPOTIFY_CLIENT_SECRET=561c1883f2974ff8b03087343e4b0ff8
