API_ID=27370260
API_HASH=3d414789f6fb615cc48341b12c624c22
BOT_TOKEN=5662659781:AAGGiLTqI4GNcRw2Su53_RC43t-UC_nXvHQ
LOG_GROUP_ID=-1001246079685
MONGO_DB_URI=mongodb+srv://userbot:userbot@cluster0.x6kstu2.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=DORA ROBOT
OWNER_ID=6654918132
STRING_SESSION=BQBkLSZBpPkoJFfUYxS6BSg-bm6AQOj-5O-LvQW22hwr7qYBtyfagdnLFBhjC15B-EefiCeiaahZnNKi5ws6i7WCGQ_bo3QlGD_HLvOUpYteHg60UQ7vvbTnSaHEDOpmTNwDxnkW6hzGZfvgfMGwqPR9O9tPmF8kU3aGBizWLhZyXWEDEWX3wnM5e0xINCS-Y56M9ReLkpu6UdR6w2zMSPAHr_750LrsD-yRFU3EdP6DNb-crg2YUqr3Hq1aRJre2pyl8Gx0qmC5o6oAIpPjSuJEYdWzK3vvcIgTISW6atGuNXeQarU9FaFd1Qnkd6RMG4on8Nit4cvugteTh0RhjnXQAAAAAVTmnuwA
STRING_SESSION2=BQC8nZqeVZ4MndtEG8-qhm6oVL71s_ruAGiltV_3MF_ZacB0cZHvyO11jNM84At6MM5PPiL5ObGSS9PH7KAw0OvQmtNrIJk_5gaTIrUPIBItI63p5bkVzq6IVfG3Brk-UkdCYs0kq3Tk6KV9Z9ts0lSDfCjK_tBionhIPxenzvbi3Z8MswxtJFHxUysmf9pvwUP1scZOsVLp9XjLxSIPGrvf7sIME3brhmL9irupOXekoSCC0u83xhcjLWtVA9fWl0yWW2cz2TKtSs1bFmIA20GJemkw5haPWvSSdmxInKpZ3i4AS-Gso_TPHib92w2hMbrRg0bfZvAVd_Eq7R-o6-oBAAAAAVsgKWcA
SPOTIFY_CLIENT_ID=5984fde29e024b308d8defa276e4a601
SPOTIFY_CLIENT_SECRET=561c1883f2974ff8b03087343e4b0ff8
